.container {
    text-align: center;
    width: 100%;
    padding: 2px;
    background-color: lightskyblue;
}

.card {
    list-style: none;
    margin: 40px;
    padding: 40px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
  }

.card:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0.10, 0.30, 0.30, 0.30);
}  