<div class="container">
    <h1>List of Pokemons</h1>
    <div class=card-list>
        <div class="card" (click)="onPokemonClick(poke.name)" *ngFor="let poke of pokemons">
            <h4>{{poke.name}}</h4>
        </div>
    </div>
</div>