<div class="container">
    <br>
    <form [formGroup]="loginForm">
        <img src="/assets/logo.png" alt="image">
        <h4>Login to the Pokédex</h4>
        <br>
        <div>
            <label for="username"> </label>
            <input class="form-control" type="text" name="username" id="username" placeholder="Enter your nickname..."
                formControlName="username" required minlength="3" required maxlength="25">
        </div>

        <div *ngIf="username.invalid && (username.dirty || username.touched)">
            <p *ngIf="username.errors.required"> Nickname is required</p>
            <p *ngIf="username.errors.minLength">Nickname should at least be 3 characters</p>
            <p *ngIf="username.errors.maxLength">Nickname should not be more than 25 characters</p>
        </div>
        
        <br>

        <div class="form-group">
            <button class="btn btn-primary btn-lg" (click)="onLoginClicked()" type="button" [disabled]="isLoading || loginForm.invalid">Login</button>
        </div>

        <div *ngIf="loginError" class="alert alert-danger mt-2" role="alert">
            <h4>Something went wrong</h4>
            <p>{{loginError}}</p>
        </div>

        <div *ngIf="isLoading">
            <p>Attempting to login...</p>
        </div>
    </form>

</div>