.container {
    text-align: center;
    width: 100%;
    padding: 2px;
    background-color: lightskyblue;
}

.form-group {
    align-content: center;
    text-align: center;
    width: 100%;
}

.form-control {
    width: 50%;
    text-align: center;
    margin-left: 250px;
}