<!--
    For pokemons in localstorage make a "card"
    -->

<div class="card-group *ngIf="pokemon != undefined>
    <div class="card">
      <li ngClass="column" *ngFor="let pokemon of collectionList$ | async">

        <div class="card-body">
          <h5 class="card-title">{{pokemon.name}}</h5>
          <img [src]="pokemon.sprites.front_default" alt="">
          <div style="display:inline-block;" id="pokemonAbilites" *ngFor="let ability of pokemon.abilities">
            <p style="padding:2em;">{{ability.ability.name}}</p>
          </div>
          <button type="button" class="btn btn-danger">Remove Pokemon</button>
        </div>
      </li>
    </div>
  </div>