<nav>
    <div class="container">
        <ul class="navbar left">
            <a class="nav-item_link" routerLink="/home" routerLinkActive="active">
                <img src="assets/logo.png" alt="Pokemon Logo" width="120">
            </a>
        </ul>
        <ul class="navbar right">
            <a class="nav-item_link" routerLink="/profile">Profile</a>
            <a class="nav-item_link" routerLink="/login">Login</a>
        </ul>
    </div>
</nav>