nav {
    background: #2f0ee6;
    color: white;
  }
  
  nav > .container {
    display: flex;
  }
  
  .navbar {
    list-style-type: none;
    display: flex;
  }

  .navbar.left {
    margin-right: auto;
  }
  
  .navbar.right {
    margin-left: auto;
  }
  
  .nav-item_link {
    color: white;
    font-size: 1em;
    line-height: 4em;
    display: flex;
    align-items: center;
    padding: 0 1em;
    height: 100%;
  }  