 <div class="card mb-3" style="max-width: 540px;" *ngIf="pokemon != undefined">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src={{pokemon.sprites.front_default}} class="card-img" alt="id" width="250">
    </div>
      <div class="col-md-8">
        <div class="card-body">
          <h4 class="card-title">{{pokemon.name}}</h4>
          <p class="card-text"> Height: {{pokemon.height}}cm</p>
          <p class="card-text">Weight: {{pokemon.weight}}g</p>
          <p class="card-text">Moves:</p>
          <p class="card-text">{{pokemon.moves[0].move.name}}, {{pokemon.moves[1].move.name}}, {{pokemon.moves[2].move.name}}</p>
          <br>
          <button type="button" class="btn btn-primary btn-lg btn-block" (click)="onAddClick()">Add to List</button>
        </div>
      </div>
    </div>
  </div>